<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="#">Yeah</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <!-- place your navigation links here -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <!-- right side items can go in here -->
            <a href="#" class="btn btn-outline-info">About</a>
        </div>
    </div>
</nav>
